CINETPAY_API_KEY=
CINETPAY_BASE_URL=
CINETPAY_SECRET_KEY=
CINETPAY_SITE_ID=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CRON_SECRET=
DATABASE_URL=
EMAIL_FROM=
JWT_ACCESS_TTL=
JWT_REFRESH_TTL=
JWT_SECRET=
MTN_MOMO_API_KEY=
MTN_MOMO_API_USER=
MTN_MOMO_BASE_URL=
MTN_MOMO_SUBSCRIPTION_KEY=
MTN_MOMO_TARGET_ENVIRONMENT=
MTN_MOMO_WEBHOOK_SECRET=
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
RESEND_API_KEY=
WAVE_API_KEY=
WAVE_BASE_URL=
WAVE_WEBHOOK_SECRET=